* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #ffffff;
    color: #0a3857;
     display: flex;
    justify-content: center;
    align-items: center;
}
.tiprin{
    background-color: #ffffff;
    height: 50px;
}
#app {
    width: 100%;
    background-color: #ffffff;
}
.contenidoagregado{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffa7;
}

/*FORMULARIO*/
#agregarCitas {
    width: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

form {
    width: 60%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
    padding: 10px;
       min-width: 400px;


}

form div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 10px;
}

input,textarea, button , label {
    width: 100%;
    height: 40px;
     font-size: 20px;
     outline: none;
     padding: 10px;
}
textarea{
    height: 120px;
}
button {
    background-color: #0a2f47;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

#visualizar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background-color: #311010;
    min-width: 400px;

}
.tici{
    width: 100%;
    height: auto;
}
#agregadas{
    width: 100%;
    height: 670px;
    display: flex;
   align-items: center;
   justify-content: flex-start;
    flex-direction: column;
   background-color: #ffffff;
   gap: 20px;
   overflow-y: scroll;
   padding: 10px;
}

.cuadro{
    width: 90%;
    height:auto;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    flex-shrink: 0;
    padding: 10px;

}
.pp{
   display: flex;
   align-items: center;
   justify-content: stretch;
   flex-direction: column;
    width: 100%;
}

.pp p{
    width: 100%;
    padding: 10px;
}

.btnsa{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 4px;
    background-color: #ffffff;
}

.edi{
display: flex;
align-items: center;
justify-content:space-around;
width: 140px;
height: 25px;
background-color: #0a2f47;
color: white;
border-radius: 4px;
font-size: 20px;
margin: 4px;
}
.elim{
display: flex;
align-items: center;
justify-content:space-around;
width: 140px;
height: 25px;
color: white;
border-radius: 4px;
background-color: rgb(237, 69, 69);
margin: 4px;

}
.icon{
    width: 20px;
    height: 20px;
    color: rgb(255, 255, 255);
flex-shrink: 0;



}

.texto{
    font-size: 24px;
}
strong{
    font-size: 20px;
}

/*LOGIN INGRESO*/


.loginin{
    width: 40%;
    height: auto;
}

.redess{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    
}
.google, .gmail, .apple{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0a2f47;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingresa{
    width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-shrink: 0;
    background-color: #0a2f47;
}